@import 'tailwindcss';
@import './auth.css';
@import './profile.css';
@import './subs.css';
@import './button.css';
@import './creator.css';

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */
/* @source '..*.blade.php'; */
/* @source '..*.js'; */

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

.hamburger {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 9999px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
    bottom: 0;
}

/* Active state */
.hamburger.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.nav-button{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
    font-weight: 500;
    padding: .4rem .75rem;
    border-radius: .25rem;
    transition: 400ms ease;
}

.nav-button:hover{
    color: black;
    background: #FFD700;
}

.comic-cover{
    aspect-ratio: 3/4;
    transition: 200ms ease;
}

.home-cont{
    display: flex;
    align-items: start;
    justify-content: center;
    height: auto;
    gap: 2rem;
    margin-top: 1.5rem;
}

.day-btn{
    width: 100%;
    background: #FFD700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #252525;
    font-weight: 700;
    padding-top: .375rem;
    padding-bottom: .375rem;
    text-transform: uppercase;
    border-radius: .25rem;
    border: 2px solid #FFD700;
}

.day-btn:hover, .day-btn.active{
    background: none;
    color: #FFD700;
}

.series-cont{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background: #151515;
    box-shadow:
        0 0px 5px -10px #353535,  
        0 0px 5px  0   #353535, 
        0 0px 5px  0   #353535;
    padding: 1rem 1.25rem;
}

.series-cont h2{
    color: #FFD700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.series-layout{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.series-layout-vert{
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.series-desc{
    display: flex;
    color: #FFD700;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    background: #151515;
    box-shadow:
        0 0px 5px -10px #353535,  
        0 0px 5px  0   #353535, 
        0 0px 5px  0   #353535;
    padding: .5rem 1rem;
    gap: .5rem;
}

.series-hover:hover .comic-cover{
    transform: scale(1.05);
}

.browse-layout{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.comic-title, .comic-title-vert{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chapter-title{
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide {
    transition: 0.3s ease;
    transform: scale(0.85);
    opacity: 0.5;
}

.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

body{
    font-family: 'Inter', sans-serif;
}

:root{
    --primary-yellow: #F4D03F;
    --dark-bg: #0F0F0F;
    --card-bg: #3A3A3A;
    --white: #FFFFFF;
}

.profile-banner{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 6rem;
    box-sizing: border-box;
    width: 100%;
    gap: 2.5rem;
}

.browse-banner{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 6rem;
    box-sizing: border-box;
    width: 100%;
    gap: 1rem;
}

.footer-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem 0rem 1rem 0rem;
    gap: .75rem;
    box-sizing: border-box;
    color: white;
    background: #151515;
    box-shadow:
        0 0px 5px -10px #353535,  
        0 0px 5px  0   #353535, 
        0 0px 5px  0   #353535;
}

.policy-cont{
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.policy-cont a{
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    transition: 200ms ease;
}

.policy-cont a:hover{
    color: #FFD700;
}

.btn-media{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: white 2px solid;
    transition: 200ms ease;
}

.btn-media svg path{
    fill: white;
}

.btn-media:hover{
    border: #FFD700 2px solid;
}

.btn-media:hover svg path{
    fill: #FFD700;
}

.btn-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 650;
    border-radius: .5rem;
    background: #FFD700;
    border: 2px solid #FFD70000;
    transition: 200ms ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-detail:hover{
    background: none;
    border: 2px solid #FFD700;
    color: #FFD700;
}

.btn-rating{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    border: 2px solid #FFD700;
    border-radius: .25rem;
    padding: .375rem;
    gap: .5rem;
    font-weight: 500;
}

.btn-chapter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    transition: 200ms ease;
    cursor: pointer;
    border: 2px solid #FFD70000;
}

.ch-list-item{
    width: 100%;
    position: relative;
    background: #252525;
    color: white;
    padding: .375rem 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.ch-list-item:hover{
    background: #353535;
}

.ch-list-item.active div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFD70060;
}

.btn-chapter:hover{
    color: #FFD700;
    border: 2px solid #FFD700;
}

.btn-genre{
    font-size: 11px;
    color: #FFD700;
    border: 2px solid #FFD700;
    padding: .25rem .75rem;
    transition: 200ms ease;
}

.btn-genre:hover, .btn-rating:hover{
    color: black;
    background: #FFD700;
}

.btn-profile{
    font-size: .75rem;
    line-height: 1rem;
    /* font-weight: 600; */
    cursor: pointer;
    padding: .25rem 1.5rem;
    color: black;
    background: #FFD700;
    border-radius: 5px;
    border: 2px solid #FFD700;
    transition: 200ms ease;
}

.btn-profile:hover{
    background: none;
    color: #FFD700;
}

.add-comic{
    min-width: 180px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8c8c8c;
    font-size: 0.75rem;
    border: 2px #8c8c8c dashed;
    border-radius: 5px;
    transition: ease-in-out 200ms;
}

.add-comic svg{
    transition: ease-in-out 200ms;
}

.add-comic:hover{
    color: #FFD700;
    border: 2px #FFD700 dashed;
}

.add-comic:hover svg{
    fill: #FFD700;
}

.panel.active{
    display: block;
}

.panel.hidden{
    display: none;
    opacity: 0;
}


@media screen and (max-width: 1024px) {
    .series-cont{
        padding: .75rem 1rem;
    }

    .series-layout{
        grid-template-columns: repeat(3, auto);
    }

    .browse-layout{
        grid-template-columns: repeat(2, auto);
    }

    .profile-banner, .browse-banner{
        padding: 1rem 4rem;
    }

    .chapter-title{
        width: 70px;
    }
}

@media screen and (max-width: 480px) {
    .add-comic{
        min-width: 161px;
        min-height: 215px;
    }

    .home-cont{
        flex-direction: column;
        align-items: center;
    }

    .series-cont{
        width: 100%;
        padding: .75rem 1.25rem;
    }

    .series-layout{
        grid-template-columns: repeat(2, auto);
        column-gap: 1.25rem;
        row-gap: .75rem;
    }
    
    .browse-layout{
        grid-template-columns: repeat(1, auto);
        row-gap: 1.5rem;
    }

    .comic-title{
        width: 160px;
    }

    .comic-title-vert{
        width: auto;
    }

    .policy-cont{
        display: grid;
        grid-template-columns: repeat(3, auto);
        row-gap: .75rem;
        column-gap: 2rem;
    }

    .profile-banner{
        display: flex;
        padding: 1rem;
        gap: 1.5rem;
    }

    .browse-banner{
        padding: 1rem 3rem;
    }

    .btn-profile{
        padding: .25rem .75rem;
    }
}