@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.comic-cover{
    aspect-ratio: 1;
}

.series-layout{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.series-layout-vert{
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 1rem;
}