.sort-button{
    color: white;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.filter-button{
    color: white;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: .4rem .75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.genre-button{
    color: white;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: .4rem .75rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    cursor: pointer;
}

.genre-button div{
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 2px;
}

.filter-button svg{
    display: none;
}

.filter-button:hover, .sort-button:hover, .genre-button:hover{
    background: #FFD70020;
    /* color: black; */
    border-radius: .25rem;
}

.filter-button.active, .sort-button.active, .genre-button.active{
    color: #FFD700;
    background-color: #FFD70030;
    border-radius: .25rem;
}

.filter-button.active svg{
    display: block;
    fill: #FFD700;
}

.genre-button.active div{
    border: 1px solid #FFD700;
}

.genre-button.active div span{
    display: block;
    width: 80%;
    height: 75%;
    background: #FFD700;
    border-radius: 1px;
}

.chapter-control-button .disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.chapter-control-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    gap: .375rem;
    background: #FFD700;
    border: 2px #FFD700 solid;
}

.chapter-control-button:hover{
    background: transparent;
    color: #FFD700;
}

.chapter-control-button:hover svg{
    fill: #FFD700;
}

.chapter-control-button-disabled{
    cursor: not-allowed;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    padding-top: .375rem;
    padding-bottom: .375rem;
    gap: .375rem;
    background: #353535;
    color: #656565;
    border: 2px #353535 solid;
}

.chapter-control-button-disabled svg{
    fill: #656565;
}


/* .status-button{

} */